<div fxLayout="column" fxLayoutAlign="center center" class="h-100">
    <div fxFlex="0 1 auto">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Identifiquese</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="loginForm" (submit)="onSubmit(loginForm)" novalidate>
                    <mat-form-field appearance="fill" fxFlex="1 1 100" class="w-100">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="email" placeholder="ejemplo@ejemplo.com" maxlength="99" formControlName="username"
                            required>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="1 1 100" class="w-100">
                        <mat-label>Contraseña</mat-label>
                        <input maxlength="99" matInput placeholder="******" type="password"
                            formControlName="password" required>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" class="w-100">
                        <button mat-button type="button" (click)="goForgotPassword()">RECUPERAR CONTRASEÑA</button>
                        <button type="submit"  [disabled]="loginForm.invalid" mat-raised-button color="primary">INICIAR</button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>