@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import './app-theme.scss';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Roboto, Arial',
  $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core($typography); // $typography is an **optional** argument for the mat-core

$primary: mat-palette($app-primary, 800, 100, 900);
$accent:  mat-palette($app-accent, 600, 100, 900);

$warn:    mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme

app-layout div.td-layout-card-over{
  height: 100%

}

app-layout div.td-layout-card-over mat-card.mat-card{
  height: calc(100% - 64px);
}

app-layout td-layout-card-over div.td-layout-card-over{
  max-width: 800px !important;
}


.bold{
  font-weight: 700;
}
