
    <mat-card-header>
      <mat-card-title>{{product.nombre}}</mat-card-title>
      <mat-card-subtitle>Costo -- {{product.costo}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="'http://localhost:8080/api/productos/file/download?token='+auth.getToken(true)+'&productoId='+product.productoId+'&size=500x500'" alt="">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>