@import "../../../assets/scss/custom-covalent-config.scss";

.user-initials{
    background: mat-color($primary);
    border-radius: 50%;
    font-size: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 32px !important;
    height: 32px !important;
}

.initials{
    color: white;
    font-weight: bold;
    font-size: 3rem !important;
}

.list-item-w{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%
}

.list-item-b{
    width:80%;
    display: flex; 
    align-items:center; 
    cursor: pointer
}

.primary-background{
    background: mat-color($primary);
}