<div *ngIf="product">
  <div fxLayout="row" fxLayoutAlign="center center" class="pb-3">
    <div fxFlex="1 1 30">
      <div fxLayout="column" fxLayoutAlign="center center" class="w-100">
        <img fxFlex="0 1 150px" [src]="'http://localhost:8081/api/productos/file/download?token='+auth.getToken(true)+'&productoId='+product.productoId+'&size=500x500'"
          alt="">
      </div>
    </div>
    <div fxFlex="1 1 70">
      <form fxLayout="column" fxLayoutAlign="center start" [formGroup]="productForm" novalidate (submit)="onSubmit(productForm)">
        <div fxFlex="0 1 100" class="w-100">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <mat-form-field fxFlex="1 1 70" class="w-100">
              <mat-icon matSuffix>edit</mat-icon>
              <mat-label>Nombre del Producto</mat-label>
              <input matInput type="text" formControlName="nombre" maxlength="50" (keyup.enter)="onSubmit(productForm)"
                required>
              <mat-error>Debes colocarle un nombre</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 30" class="w-100">
              <mat-icon matSuffix>attach_money</mat-icon>
              <mat-label>Precio</mat-label>
              <input matInput type="text" readonly [value]="product.costo">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="0 1 100" class="w-100 mb-3">
          <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end center">
            <button type="button" fxFlex="0 1 auto" mat-flat-button color="warn" (click)="confirmDelete(product.productoId)">
              ELIMINAR <mat-icon [inline]="true">delete</mat-icon>
            </button>
            <button type="submit" fxFlex="0 1 auto" mat-stroked-button color="accent" fxFlex="0 1 auto" fxFlexAlign="end">ACTUALIZAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <td-search-input fxFlex="0 1 80" placeholder="Buscar Material" [(ngModel)]="searchInputTerm" [showUnderline]="true"
      [debounce]="500" (searchDebounce)="searchMaterial(0,$event)" (search)="searchMaterial(0,$event)" (clear)="searchInputTerm = ''">
    </td-search-input>
    <button mat-fab color="primary" (click)="openDialog(null)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-list>
    <mat-list-item matRipple *ngFor="let material of materials; let i = index" class="">
      <div class="list-item-w">
        <div class="list-item-b" (click)="openDialog(material.productoMaterialId)">
          <img [style.display]="material.imageLoaded ? 'block' : 'none'" matListAvatar [src]="'http://localhost:8081/api/materiales/file/download?token='+auth.getToken(true)+'&materialId='+material.material.materialId+'&size=128x128'"
            (load)="imageLoaded(i)" alt="">
          <div *ngIf="!material.imageLoaded" mat-list-icon class="user-initials">{{material.material.nombre ?
            material.material.nombre.charAt(0).toUpperCase() : ''}}</div>
          <div style="margin-left: 16px">
            <h3 matLine style="margin: 0">{{material.material.nombre}} </h3>
            <p matLine style="margin: 0">
              <span class="demo-2">Cantidad Utilizada : {{material.cantidad}}{{material.tipoUnidad.unidad}} </span>
            </p>
          </div>


        </div>
        <button mat-icon-button (click)="confirmDeleteProductoMaterial(material.productoMaterialId)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>
      <mat-divider></mat-divider>
    </mat-list-item>


  </mat-list>

  <td-paging-bar #pagingBar [firstLast]="true" [pageSize]="pageSize" [total]="total" (change)="changePage($event)">
    {{pagingBar.range}} de {{pagingBar.total}}
  </td-paging-bar>
</div>