<td-layout>
    <td-navigation-drawer flex [sidenavTitle]="actualSite" [name]="name" [email]="email">
        <app-sidenav (optionClick)="closeSidebar()"></app-sidenav>
    </td-navigation-drawer>
    <td-layout-nav toolbarTitle="Gestion de Costos Operativos">
        <button mat-icon-button td-menu-button tdLayoutToggle *ngIf="isLoggedIn()">
            <mat-icon>menu</mat-icon>
        </button>
        <td-layout-card-over [cardTitle]="actualSite" class="h-100" *ngIf="isLoggedIn(); else logIn">
            <div class="pt-3 w-100 main-height">
                <router-outlet></router-outlet>
            </div>
        </td-layout-card-over>
        <ng-template #logIn>
            <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
                <router-outlet></router-outlet>
            </div>
        </ng-template>
    </td-layout-nav>
</td-layout>