<td-layout >
    <td-navigation-drawer flex sidenavTitle="Gestion de Costos Operativos" [name]="name" [email]="email">
        <app-sidenav (optionClick)="closeSidebar()"></app-sidenav>
    </td-navigation-drawer>
    <td-layout-nav toolbarTitle="Gestion de Costos Operativos" >
        <button mat-icon-button td-menu-button tdLayoutToggle *ngIf="isLoggedIn()">
            <mat-icon>menu</mat-icon>
        </button>
        <td-layout-card-over class="h-100" *ngIf="isLoggedIn(); else logIn">
            <mat-card-title fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 32px" >
                <div >
                    <button mat-icon-button *ngIf="goBack" (click)="goBackFunction()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    {{actualSite}}

                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                    <button *ngIf="!goBack && actualSite !== 'Preferencias'" mat-raised-button color="primary" (click)="reporte()">
                        Reporte
                    </button>
                    <button *ngIf="!goBack && actualSite !== 'Preferencias'" mat-mini-fab color="accent" (click)="agregar()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                
            </mat-card-title>
            <mat-card-content class="max-height-card" #child id="child">
                <div class="pt-3 w-100 main-height">
                    <router-outlet ></router-outlet>
                </div>
            </mat-card-content>

        </td-layout-card-over>
        <ng-template #logIn>
            <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
                <router-outlet></router-outlet>
            </div>
        </ng-template>
    </td-layout-nav>
</td-layout>