<div fxLayout="column" fxLayoutALign="start center" class="h-100">
  <mat-nav-list class="pt-0" fxFlex="calc(100% - 30px)">
    <button mat-button fxLayout="row" fxLayoutAlign="start center" class="w-100 py-2" (click)="changeOption('products')">
      <mat-icon>category</mat-icon><span class="ml-3 pt-1">PRODUCTOS</span>
    </button>
    <button mat-button fxLayout="row" fxLayoutAlign="start center" class="w-100 py-2" (click)="changeOption('materials')">
      <mat-icon>shopping_cart</mat-icon><span class="ml-3 pt-1">MATERIALES</span>
    </button>
    <button mat-button fxLayout="row" fxLayoutAlign="start center" class="w-100 py-2 text-danger" (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon><span class="ml-3 pt-1">CERRAR SESIÓN</span>
    </button>
  </mat-nav-list>
</div>