@import "../../../assets/scss/custom-covalent-config.scss";

.user-initials{
    background: mat-color($primary);
    border-radius: 50%;
    font-size: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 32px !important;
    height: 32px !important;
}

.initials{
    color: white;
    font-weight: bold;
    font-size: 3rem !important;
}

.list-item-w{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%
}

.list-item-b{
    width:80%;
    display: flex; 
    align-items:center; 
    cursor: pointer
}

.primary-background{
    background: mat-color($primary);
}

.image:hover{
    filter: brightness(0.75);
    cursor: pointer;
}



.image-name:hover{
    background-color: #DDDDDD;
    cursor: pointer;
}

.div-change-img{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 120px;
    width: 120px;
    opacity: 1;
    z-index: 99;
    background: rgba(000,000,000,0.5);
    background-image: url(../../../assets/images/icons/addpic.svg);
    background-size: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .div-contImg:hover > .div-change-img{
    opacity: 1;
    visibility: visible;
  }
  
  .div-contImg:hover > .menu-position{
    opacity: 1;
    visibility: visible;
  }

