<div *ngIf="user">
  <div fxLayout="row" fxLayoutAlign="center center" class="pb-3">
    <div fxFlex="1 1 30">
      <div fxLayout="column" fxLayoutAlign="center center" class="w-100">


        <img [style.display]="userImageLoadedVar ? 'block' : 'none'" class="rounded-circle " fxFlex="0 1 150px" [src]="'http://localhost:8081/api/usuario/file/download?token='+auth.getToken(true)+'&usuarioId='+user.usuarioId+'&size=500x500'"
          alt="" (load)="userImageLoaded()">


        <div *ngIf="!userImageLoadedVar" fxFlex="1 1 150px" [style.width.px]="150" class="rounded-circle primary-background">
          <div fxLayout="column" [style.height.px]="150" fxLayoutAlign="center center">
            <div class="initials" fxFlex="0 1 auto">{{user.nombre ? user.nombre.charAt(0).toUpperCase() : ''}}</div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="1 1 70">
      <div fxLayout="column" fxLayoutAlign="center start">
        <div fxFlex="0 1 100" class="w-100">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <mat-form-field fxFlex="1 1 50" class="w-100">
              <mat-label>Nombre del Usuario</mat-label>
              <input matInput readonly [value]="user.nombre">
            </mat-form-field>
            <mat-form-field fxFlex="1 1 50" class="w-100">
              <mat-label>Email</mat-label>
              <input matInput type="text" readonly [value]="user.email">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="0 1 100" class="w-100">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

            <mat-form-field fxFlex="1 1 50" class="w-100">
              <mat-label>Tipo de Usuario</mat-label>
              <input matInput type="text" readonly [value]="user.tipoUsuario.tipo">
            </mat-form-field>
            <mat-form-field fxFlex="1 1 50" class="w-100">
              <mat-label>Fecha de creación</mat-label>
              <input matInput [matDatepicker]="dph" readonly [value]="user.fechaCreacion">
              <mat-datepicker #dph readonly></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="0 1 100" class="w-100 mb-3">
          <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="15px">
            <mat-slide-toggle appearance="standard" fxFlex="1 1 100" class="w-100" color="primary" (click)="changeStatus(user.usuarioId)" [(ngModel)]="user.enabled">
              {{user.enabled ? 'Habilitado' : 'Deshabilitado'}}
            </mat-slide-toggle>
          </div>
            
          
        </div>
      </div>
    </div>
  </div>
</div>