<form [formGroup]="reporteForm" (submit)="onSubmit(reporteForm)" novalidate>

  <h1 mat-dialog-title>{{'Reporte de ' + data.reportType}}: fecha de creación</h1>

  <div fxLayout="column" fxLayoutAlign="center center" mat-dialog-content>

    <mat-form-field  fxFlex="1 1 100" class="w-100">
      <input matInput [max]="maxDateDesde" [matDatepicker]="dpd" placeholder="Desde" formControlName="desde">
      <mat-datepicker-toggle matSuffix [for]="dpd"></mat-datepicker-toggle>
      <mat-datepicker #dpd></mat-datepicker>
    </mat-form-field>

    <mat-form-field  fxFlex="1 1 100" class="w-100">
      <input matInput  [max]="maxDateHasta" [matDatepicker]="dph" placeholder="Hasta" formControlName="hasta">
      <mat-datepicker-toggle matSuffix [for]="dph"></mat-datepicker-toggle>
      <mat-datepicker #dph></mat-datepicker>
      
    </mat-form-field>

    <label *ngIf="reporteForm.errors">{{ reporteForm.errors?.dates  }}</label>

  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
    <button mat-stroked-button type="submit" [disabled]="reporteForm.invalid">Imprimir Reporte</button>
  </div>

</form>
