<td-search-input placeholder="Buscar Producto" [(ngModel)]="searchInputTerm" [showUnderline]="true" [debounce]="500"
  (searchDebounce)="searchProducts(0,$event)" (search)="searchProducts(0,$event)" (clear)="searchInputTerm = ''">
</td-search-input>
<mat-list>
  <mat-list-item matRipple *ngFor="let product of products; let i = index" class="">
    <div class="list-item-w">
      <div class="list-item-b" (click)="goToProduct(product.productoId)">
        <img [style.display]="product.imageLoaded ? 'block' : 'none'" matListAvatar [src]="'http://localhost:8081/api/productos/file/download?token='+auth.getToken(true)+'&productoId='+product.productoId+'&size=128x128'"
          (load)="imageLoaded(i)" alt="">
        <div *ngIf="!product.imageLoaded" mat-list-icon class="user-initials">{{product.nombre ?
          product.nombre.charAt(0).toUpperCase() : ''}}</div>
        <div style="margin-left: 16px">
          <h3 matLine style="margin: 0">{{product.nombre}} </h3>
          <p matLine style="margin: 0">
            <span>Costo de Producción : {{product.costoProduccion}}Bs</span>
            <span> -- Precio de venta : {{product.precioVenta}}Bs</span>
            <span> -- Ganancia : {{product.ganancia}}Bs</span>
          </p>
        </div>


      </div>
      <button mat-icon-button (click)="confirmDelete(product.productoId)">
        <mat-icon>delete</mat-icon>
      </button>
      
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>


</mat-list>
<td-paging-bar #pagingBar [firstLast]="true" [pageSize]="pageSize" [total]="total" (change)="changePage($event)">
  {{pagingBar.range}} de {{pagingBar.total}}
</td-paging-bar>