
<div fxLayout="column" fxLayoutAlign="center center" >
  <h2>GESTIÓN DE COSTOS OPERATIVOS</h2>
</div>

<p >Este programa basado en la tesis <strong>Aplicación informática para la gestión de costos operativos en una empresa de consumo masivo</strong>, 
tiene como fin resolver problemas para el calculo de precios según la materia prima usada en la elaboración de un producto.</p>

<h2>Productos</h2>

<p>Se definen los productos a los cuales se les agrega materiales para calcular su costo de producción, precio de venta, entre otros. Utilizado como referencia para la venta.</p>

<h2>Materiales</h2>

<p>Se definen los materiales, que servirán como materia prima para su uso en productos. Utilizado como referencia para la compra.</p>

<h2>Administración</h2>

<p>Agregar, habilitar o desabilitar a usuarios dentro de la aplicación. Al estar deshabilitados, no pueden iniciar sesión.</p>

<h2>Preferencias</h2>

<p>Cambio de preferencias de la aplicación.</p>


<h2>Diseñado y desarrollado por:</h2>

<ul>
  <li>Victor Armas, <a href="tel:+584146789105">0414-6789105</a>, <a href="mailto: zuke1998@gmail.com">zuke1998@gmail.com</a> </li>
  <li>Juan Chávez, <a href="tel:+584126830329">0412-6830329</a>, <a href="mailto: jjchavez@urbe.edu.ve">jjchavez@urbe.edu.ve</a> </li>
  <li>Luis Soto, <a href="tel:+584246269416">0424-6269416</a>, <a href="mailto: luiscarlsoto@gmail.com">luiscarlsoto@gmail.com</a> </li>
</ul>