:root, [data-theme="default"] {
    --color-primary-darker: hsl(215, 100%, 28%);
    --color-primary-dark: hsl(215, 100%, 28%);
    --color-primary: hsl(212, 80%, 42%);
    --color-primary-light: hsl(219, 86%, 66%);
    --color-primary-lighter: hsl(220, 90%, 92%);

    --color-accent-darker: hsl(199, 100%, 38%);
    --color-accent-dark: hsl(199, 100%, 38%);
    --color-accent: hsl(199, 92%, 56%);
    --color-accent-light: hsl(189, 100%, 73%);
    --color-accent-lighter: hsl(356, 89%, 93%);
    
}