<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../resources/libraries/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <button type="button" class="nav-link" id="logout">Sign out</button>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <!-- <canvas class="my-4" id="myChart" width="900" height="380"></canvas> -->

          <h2>Productos</h2>
          
          <div id="producto-list" >

            <div class="container" >
              <div class="row" >
                <div class="col" v-for="(item, index) in object.content">
                    <div class="card mt-3" style="width: 12rem;">
                        <img class="card-img-top" :src="'http://localhost:8080/api/productos/file/download?token='+token+'&productoId='+item.productoId+'&size=128x128'" alt="">
                        <div class="card-body">
                          <h5 class="card-title">{{item.nombre}}</h5>
                          <p class="card-text" data-toggle="tooltip" data-placement="bottom" title="Si éste producto tiene un costo de 0 significa que no tiene materiales asociados">Costo: {{item.costo}}</p>
                          <a v-on:click="getProductosMateriales(item.productoId, '0', '20')" class="btn btn-primary">Materiales</a>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" v-if="!object.first">
                    <a class="page-link" v-on:click="getProductos(object.number - 1, '20')" >Previous</a>
                  </li>
                  <li v-if="(object.number - 2) != 0 && (object.number - 2) > 0" class="page-item"><a class="page-link" v-on:click="getProductos(object.number - 3, '20')">{{object.number - 2}}</a></li>
                  <li v-if="(object.number - 1) != 0 && (object.number - 1) > 0" class="page-item"><a class="page-link" v-on:click="getProductos(object.number - 2, '20')">{{object.number - 1}}</a></li>
                  <li v-if="(object.number) != 0 && (object.number) > 0" class="page-item"><a class="page-link" v-on:click="getProductos(object.number - 1, '20')">{{object.number}}</a></li>
                  <li class="page-item active">
                      <span class="page-link">
                          {{object.number + 1}}
                        <span class="sr-only">(current)</span>
                      </span>
                    </li>
                  <li v-if="(object.number + 2) != object.totalPages && (object.number + 2) < object.totalPages" class="page-item"><a class="page-link" v-on:click="getProductos(object.number + 1, '20')">{{object.number + 2}}</a></li>
                  <li v-if="(object.number + 3) != object.totalPages && (object.number + 3) < object.totalPages" class="page-item"><a class="page-link" v-on:click="getProductos(object.number + 2, '20')">{{object.number + 3}}</a></li>
                  <li v-if="(object.number + 4) != object.totalPages && (object.number + 4) < object.totalPages" class="page-item"><a class="page-link" v-on:click="getProductos(object.number + 3, '20')">{{object.number + 4}}</a></li>
                  <li v-if="!object.last" class="page-item">
                    <a class="page-link" v-on:click="getProductos(object.number + 1, '20')">Next</a>
                  </li>
                </ul>
              </nav>
          </div>

          <h2>Materiales de Producto</h2>
          
          <div id="producto-material-list" >

            <div class="container" >
              <div class="row" >
                <div class="col" v-for="(item, index) in object.content">
                    <div class="card mt-3" style="width: 12rem;">
                        <img class="card-img-top" :src="'http://localhost:8080/api/materiales/file/download?token='+token+'&materialId='+item.material.materialId+'&size=128x128'" alt="">
                        <div class="card-body">
                          <h5 class="card-title">{{item.material.nombre}}</h5>
                          <p class="card-text" data-toggle="tooltip" data-placement="bottom" >Cantidad: {{item.cantidad}}{{item.tipoUnidad.unidad}} ({{item.tipoUnidad.tipo}})</p>
                          <!-- <a href="#" class="btn btn-primary">Materiales</a> -->
                        </div>
                      </div>
                </div>
              </div>
            </div>
          

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" v-if="!object.first">
                    <a class="page-link" v-on:click="getProductosMateriales(object.productoId,object.number - 1, '20')" >Previous</a>
                  </li>
                  <li v-if="(object.number - 2) != 0 && (object.number - 2) > 0" class="page-item"><a class="page-link" v-on:click="getProductosMateriales(object.productoId,object.number - 3, '20')">{{object.number - 2}}</a></li>
                  <li v-if="(object.number - 1) != 0 && (object.number - 1) > 0" class="page-item"><a class="page-link" v-on:click="getProductosMateriales(object.productoId,object.number - 2, '20')">{{object.number - 1}}</a></li>
                  <li v-if="(object.number) != 0 && (object.number) > 0" class="page-item"><a class="page-link" v-on:click="getProductosMateriales(object.productoId,object.number - 1, '20')">{{object.number}}</a></li>
                  <li class="page-item active">
                      <span class="page-link">
                          {{object.number + 1}}
                        <span class="sr-only">(current)</span>
                      </span>
                    </li>
                  <li v-if="(object.number + 2) != object.totalPages && (object.number + 2) < object.totalPages" class="page-item"><a class="page-link" v-on:click="getProductosMateriales(object.productoId,object.number + 1, '20')">{{object.number + 2}}</a></li>
                  <li v-if="(object.number + 3) != object.totalPages && (object.number + 3) < object.totalPages" class="page-item"><a class="page-link" v-on:click="getProductosMateriales(object.productoId,object.number + 2, '20')">{{object.number + 3}}</a></li>
                  <li v-if="(object.number + 4) != object.totalPages && (object.number + 4) < object.totalPages" class="page-item"><a class="page-link" v-on:click="getProductosMateriales(object.productoId,object.number + 3, '20')">{{object.number + 4}}</a></li>
                  <li v-if="!object.last" class="page-item">
                    <a class="page-link" v-on:click="getProductosMateriales(object.productoId,object.number + 1, '20')">Next</a>
                  </li>
                </ul>
              </nav>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    

    <script src="../../resources/libraries/js/jquery.min.js"></script>
    <script src="../../resources/libraries/js/popper.min.js"></script>
    <script src="../../resources/libraries/js/bootstrap.min.js"></script>
    <script src="../../resources/libraries/js/vue.min.js"></script>
    <script>
      // You can also require other files to run in this process
      require('./home.js')
    </script>
    
  </body>
</html>
