.ul {
  display: flex;
  padding: 0;
  list-style: none;
  background-color: var(--color-primary-dark);
  margin: 0;
  top: 0;
  height: 100%;
  /*box-shadow: 2.5px 2.5px 5px;*/

}

.nav{
  display: flex;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
}
  .parent div {
     
    background-color: var(--color-primary);
    height: 60px;
    
}

/*.scrollbar {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-contrast-lower);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-contrast-higher-a90);
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-contrast-higher);
  }
}*/

