@import "../../../assets/scss/custom-covalent-config.scss";

.primary-background{
    background: mat-color($primary);
}

.initials{
    color: white;
    font-weight: bold;
    font-size: 3rem !important;
}

.image:hover{
    filter: brightness(0.75);
    cursor: pointer;
}

.image-name:hover{
    background-color: #DDDDDD;
    cursor: pointer;
}